<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction-to-R" data-toc-modified-id="Introduction-to-R-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to R</a></span><ul class="toc-item"><li><span><a href="#About" data-toc-modified-id="About-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>About</a></span></li><li><span><a href="#Licensing" data-toc-modified-id="Licensing-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Licensing</a></span></li><li><span><a href="#Features-of-R" data-toc-modified-id="Features-of-R-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Features of R</a></span></li></ul></li><li><span><a href="#Installation" data-toc-modified-id="Installation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Installation</a></span><ul class="toc-item"><li><span><a href="#R-Installation:" data-toc-modified-id="R-Installation:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>R Installation:</a></span></li><li><span><a href="#Install-packge" data-toc-modified-id="Install-packge-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Install packge</a></span></li></ul></li><li><span><a href="#R-IDEs" data-toc-modified-id="R-IDEs-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>R IDEs</a></span><ul class="toc-item"><li><span><a href="#R-App" data-toc-modified-id="R-App-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>R App</a></span></li><li><span><a href="#RStudio" data-toc-modified-id="RStudio-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>RStudio</a></span><ul class="toc-item"><li><span><a href="#Usage" data-toc-modified-id="Usage-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Usage</a></span></li></ul></li><li><span><a href="#Jupyter-Notebook" data-toc-modified-id="Jupyter-Notebook-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Jupyter Notebook</a></span></li></ul></li><li><span><a href="#Getting-Started-with-R" data-toc-modified-id="Getting-Started-with-R-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Getting Started with R</a></span><ul class="toc-item"><li><span><a href="#Help" data-toc-modified-id="Help-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Help</a></span></li><li><span><a href="#Comments" data-toc-modified-id="Comments-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Comments</a></span></li><li><span><a href="#Variables" data-toc-modified-id="Variables-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Variables</a></span></li><li><span><a href="#Data-Types" data-toc-modified-id="Data-Types-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Data Types</a></span></li><li><span><a href="#Operators" data-toc-modified-id="Operators-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Operators</a></span><ul class="toc-item"><li><span><a href="#Arithmetic-Operators" data-toc-modified-id="Arithmetic-Operators-4.5.1"><span class="toc-item-num">4.5.1&nbsp;&nbsp;</span>Arithmetic Operators</a></span></li><li><span><a href="#Relational-Operators" data-toc-modified-id="Relational-Operators-4.5.2"><span class="toc-item-num">4.5.2&nbsp;&nbsp;</span>Relational Operators</a></span></li><li><span><a href="#Logical-Operators" data-toc-modified-id="Logical-Operators-4.5.3"><span class="toc-item-num">4.5.3&nbsp;&nbsp;</span>Logical Operators</a></span></li><li><span><a href="#Assignment-Operators" data-toc-modified-id="Assignment-Operators-4.5.4"><span class="toc-item-num">4.5.4&nbsp;&nbsp;</span>Assignment Operators</a></span></li><li><span><a href="#Miscellaneous-Operators" data-toc-modified-id="Miscellaneous-Operators-4.5.5"><span class="toc-item-num">4.5.5&nbsp;&nbsp;</span>Miscellaneous Operators</a></span></li></ul></li><li><span><a href="#Built-In-Functions" data-toc-modified-id="Built-In-Functions-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Built-In Functions</a></span></li><li><span><a href="#Vector" data-toc-modified-id="Vector-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Vector</a></span><ul class="toc-item"><li><span><a href="#Vector-Creation" data-toc-modified-id="Vector-Creation-4.7.1"><span class="toc-item-num">4.7.1&nbsp;&nbsp;</span>Vector Creation</a></span><ul class="toc-item"><li><span><a href="#Single-Element-Vector" data-toc-modified-id="Single-Element-Vector-4.7.1.1"><span class="toc-item-num">4.7.1.1&nbsp;&nbsp;</span>Single Element Vector</a></span></li><li><span><a href="#Multiple-Elements-Vector" data-toc-modified-id="Multiple-Elements-Vector-4.7.1.2"><span class="toc-item-num">4.7.1.2&nbsp;&nbsp;</span>Multiple Elements Vector</a></span></li></ul></li><li><span><a href="#Vector-Operations" data-toc-modified-id="Vector-Operations-4.7.2"><span class="toc-item-num">4.7.2&nbsp;&nbsp;</span>Vector Operations</a></span><ul class="toc-item"><li><span><a href="#Access-vector-elements" data-toc-modified-id="Access-vector-elements-4.7.2.1"><span class="toc-item-num">4.7.2.1&nbsp;&nbsp;</span>Access vector elements</a></span></li><li><span><a href="#Vector-Manipulation" data-toc-modified-id="Vector-Manipulation-4.7.2.2"><span class="toc-item-num">4.7.2.2&nbsp;&nbsp;</span>Vector Manipulation</a></span></li></ul></li></ul></li><li><span><a href="#Swirl" data-toc-modified-id="Swirl-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span>Swirl</a></span></li><li><span><a href="#Factors" data-toc-modified-id="Factors-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span>Factors</a></span><ul class="toc-item"><li><span><a href="#Create-Factor" data-toc-modified-id="Create-Factor-4.9.1"><span class="toc-item-num">4.9.1&nbsp;&nbsp;</span>Create Factor</a></span></li><li><span><a href="#Change-order-of-levels" data-toc-modified-id="Change-order-of-levels-4.9.2"><span class="toc-item-num">4.9.2&nbsp;&nbsp;</span>Change order of levels</a></span></li><li><span><a href="#Generating-Factor-Levels" data-toc-modified-id="Generating-Factor-Levels-4.9.3"><span class="toc-item-num">4.9.3&nbsp;&nbsp;</span>Generating Factor Levels</a></span></li></ul></li><li><span><a href="#Matrix" data-toc-modified-id="Matrix-4.10"><span class="toc-item-num">4.10&nbsp;&nbsp;</span>Matrix</a></span><ul class="toc-item"><li><span><a href="#Create-Matrix" data-toc-modified-id="Create-Matrix-4.10.1"><span class="toc-item-num">4.10.1&nbsp;&nbsp;</span>Create Matrix</a></span></li></ul></li><li><span><a href="#DataFrame" data-toc-modified-id="DataFrame-4.11"><span class="toc-item-num">4.11&nbsp;&nbsp;</span>DataFrame</a></span><ul class="toc-item"><li><span><a href="#Create-Dataframe" data-toc-modified-id="Create-Dataframe-4.11.1"><span class="toc-item-num">4.11.1&nbsp;&nbsp;</span>Create Dataframe</a></span></li><li><span><a href="#Structure-of-Dataframe/Object" data-toc-modified-id="Structure-of-Dataframe/Object-4.11.2"><span class="toc-item-num">4.11.2&nbsp;&nbsp;</span>Structure of Dataframe/Object</a></span></li><li><span><a href="#Summary-of-Dataframe/Object" data-toc-modified-id="Summary-of-Dataframe/Object-4.11.3"><span class="toc-item-num">4.11.3&nbsp;&nbsp;</span>Summary of Dataframe/Object</a></span></li><li><span><a href="#Access-data-from-Dataframe" data-toc-modified-id="Access-data-from-Dataframe-4.11.4"><span class="toc-item-num">4.11.4&nbsp;&nbsp;</span>Access data from Dataframe</a></span></li><li><span><a href="#Expand-Data-Frame" data-toc-modified-id="Expand-Data-Frame-4.11.5"><span class="toc-item-num">4.11.5&nbsp;&nbsp;</span>Expand Data Frame</a></span><ul class="toc-item"><li><span><a href="#Add-Column" data-toc-modified-id="Add-Column-4.11.5.1"><span class="toc-item-num">4.11.5.1&nbsp;&nbsp;</span>Add Column</a></span></li><li><span><a href="#Add-Row" data-toc-modified-id="Add-Row-4.11.5.2"><span class="toc-item-num">4.11.5.2&nbsp;&nbsp;</span>Add Row</a></span></li></ul></li></ul></li></ul></li></ul></div>

#  Introduction to R

## About
- R is a programming language for statistical analysis, graphics representation and reporting.
- created by **Ross Ihaka** and **Robert Gentleman**
- The core of R is **an interpreted computer language**. 
- Integrates well with the procedures written in the C, C++, .Net, Python or FORTRAN languages
- R is designed for data Analysts. Data analyst = Statistics + Programmer

## Licensing
- Open source (GNU General Public License)

## Features of R
1. Effective **data handling and storage facility**
2. Provides well-versed **tools for data analysis & statistics**.
3. Provides **graphical facilities** for data analysis

# Installation
You need language interpreter and ide for any lang. R comes with default console (GUI) but that is not as rich as other IDEs (Rstudio).

## R Installation:
1. Using CRAN website [Comprehensive R Archive Network]
	1. download pkg file (mac) from https://cran.r-project.org/
	2. install r using system package manager.
2. Using Conda
	1. With Anaconda, you can easily install the R programming language and over 6,000 commonly used R packages for data science. You can also create and share your own custom R packages.
    
## Install packge
go to r console and type : `install.packages("package_name")`. Example
> `install.packages("swirl")`

- To use the packages, you have type `library(package_name)` on r consolge and execute to import the functions of library.
- Example
    - `library(swirl)`

# R IDEs
## R App
> this gets installed by default when you install R (GUI). However it gets only console where you can run only REPL, run scripts, install libraries etc.

## RStudio
R studio is morre rich IDE. To install R, Download the R-Studio from R-Studio website.
### Usage
- If you see + sign in command line, that means, previous command is incomplete and you have to add details to the line where + appeared.
- If you want to discard a command, press `Esc` key
- Auto complete, enter key and press tab to check the autocomplete options.
- Hit `command+enter` to execute any line in R-script

## Jupyter Notebook
To install R on jupyter, please follow below steps:
1. Install R
2. Open R Terminal & execute below statements
3. Install R libraries
> `install.packages(c(
'repr',
'IRdisplay',
'evaluate',
'crayon',
'pbdZMQ',
'devtools',
'uuid',
'digest',
'git2r'
), dependencies = TRUE)`
4. install the R package. devtools::install_github allows you to install packages from Github.
> devtools::install_github('IRkernel/IRkernel')
6. Install the Interactive R kernel system-wide.
> IRkernel::installspec(user = FALSE)
7. Run Notebook
> jupyter notebook

[Reference](https://www.chrisjmendez.com/2018/12/04/configure-jupyter-notebook-to-work-with-r/)

# Getting Started with R

## Help
- use ?function_name or help(function_name) to see documentation.
-- Example:
`?log`
`help(log10)`

In [3]:
?log

In [4]:
help(log10)

## Comments
- Only Single Line Comment supported
- No support multiline comments support

In [5]:
# Testing comment

## Variables
- Names can be of any length
- A variable can not begin with number.
- Names are case sensitive

In [76]:
variable=1
variable

[1] 1

In [78]:
#to see all variables in your workspace
ls()

 [1] "a"              "add.v"          "added_vector"   "b"
 [5] "divi.result"    "multi.result"   "my_vector"      "my_vector1"
 [9] "my_vector2"     "revsort.result" "s"              "sort.result"
[13] "sub.result"     "t"              "u"              "v"
[17] "v1"             "v2"             "v3"             "val"
[21] "variable"       "x"              "y"

In [82]:
# to clean the variables in your workspace
rm(list=ls())
ls()

character(0)

In [84]:
# Used when data set contains unknown variables!
my_vector2 <- c(1, 3, 5, NA, 7, NA)
is.na(my_vector2)

[1] FALSE FALSE FALSE  TRUE FALSE  TRUE

## Data Types
- R has 3 fundamental dt, apart from those three, rest all are objects.
	- Numeric: [7,5]
		- There are two types of numeric data types:
			- integer: [2]
			- double: [2.4]
		- If you write x=2, r stores x as double.
	- Character: ["test", "a"]
		- character strings cannot be added mathematically. For example "my"+"class" with throw error in R but will pass in python.
	- Boolean: [True/False]
		- T refers to TRUE and F refers to FALSE in R
- You can use class(variable_name) or typeof(variable_name) to know the type of  variable.

Question: How to determine type of a variable?

In [28]:
typeof("apple")

[1] "character"

In [29]:
class(2)

[1] "numeric"

## Operators
There are 5 types of operators in R
### Arithmetic Operators
+, -, *, /,  %%, ^, **

In [10]:
8 + 5      #Addition
8 - 5      #Subtraction
9 * 2      #Multiplication
9/2        #Division
9^2        #Exponentiation
9**2       #Exponentiation
9%%2       #Modulo

[1] 13

[1] 3

[1] 18

[1] 4.5

[1] 81

[1] 81

[1] 1

### Relational Operators
<, >, ==, <=, >=, !=

In [11]:
8 > 7
8 < 7
8 == 8
8 >= 8
8 <=7
8 != 9

[1] TRUE

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

[1] TRUE

### Logical Operators
(element wise and)&, (element wise or)|, !, &&, ||

- to compare vectors, vector should be of same size else it will throw error

In [12]:
c(3,1,T,2+3i) | c(3,1,F,2+3i)    #element wise logical or
c(3,1,T,2+3i) & c(3,1,F,2+3i)    #element wise logical and
!c(3,1,T,2+3i)                   #logical not which gives opposite logical value
c(3,1,T,2+3i) || c(3,1,F,2+3i)    #logical or, takes first value and perform or
c(3,1,T,2+3i) && c(3,1,F,2+3i)    #logical and, takes first value and perform and

[1] TRUE TRUE TRUE TRUE

[1]  TRUE  TRUE FALSE  TRUE

[1] FALSE FALSE FALSE FALSE

[1] TRUE

[1] TRUE

### Assignment Operators
- Left assignment
	- <-, =, <<-
- Right assignment
	- ->, ->>

In [13]:
#### Left assignment operator
v1 <- c(3,1,TRUE,2+3i)
v2 <<- c(3,1,TRUE,2+3i)
v3 = c(3,1,TRUE,2+3i)
print(v1)
print(v2)
print(v3)
#### Right assignment operator
c(3,1,TRUE,2+3i) -> v1
c(3,1,TRUE,2+3i) ->> v2 
print(v1)
print(v2)

[1] 3+0i 1+0i 1+0i 2+3i
[1] 3+0i 1+0i 1+0i 2+3i
[1] 3+0i 1+0i 1+0i 2+3i
[1] 3+0i 1+0i 1+0i 2+3i
[1] 3+0i 1+0i 1+0i 2+3i

### Miscellaneous Operators
:, %in%, %*%

In [14]:
#### Colon Operator: creates series of nums in seq for vector.
v <- 2:8
print(v)
#### %in% : identify if an element belongs to a vector, returns T/F
print(2 %in% v)
#### %*% : to multiply a matrix with its transpose
print(2 %in% v)

[1] 2 3 4 5 6 7 8
[1] TRUE
[1] TRUE

## Built-In Functions
- abs(-2.3)
- exp(3)
- sqrt(4)
- sin(10)
- cos(1.572)

In [176]:
# generate Random number
rn = sample(1:4, 1)
rn

[1] 3

## Vector
- Datasets have rows and columns. In R, **datasets are frequently stored as vectors** which are sequences of elements of **the same data type** (numeric, character etc.)
- Vectors are the most basic R data objects and there are **six types of atomic vectors**.
    - logical
    - integer
    - double
    - complex
    - character
    - raw.

### Vector Creation
#### Single Element Vector
- Even when you write just one value in R, it becomes a vector of length 1 and belongs to one of the above vector

In [16]:
# Atomic vector of type character.
print("abc");

# Atomic vector of type double.
print(12.5)

# Atomic vector of type integer.
print(63L)

# Atomic vector of type logical.
print(TRUE)

# Atomic vector of type complex.
print(2+3i)

# Atomic vector of type raw.
print(charToRaw('hello'))

[1] "abc"
[1] 12.5
[1] 63
[1] TRUE
[1] 2+3i
[1] 68 65 6c 6c 6f

#### Multiple Elements Vector

In [21]:
# Using colon operator with numeric data
# Creating a sequence from 5 to 13.
v <- 5:13
print(v)

# Creating a sequence from 6.6 to 12.6.
v <- 6.6:12.6
print(v)

# If the final element specified does not belong to the sequence then it is discarded.
v <- 3.8:11.4
print(v)

[1]  5  6  7  8  9 10 11 12 13
[1]  6.6  7.6  8.6  9.6 10.6 11.6 12.6
[1]  3.8  4.8  5.8  6.8  7.8  8.8  9.8 10.8

In [23]:
# Using sequence (Seq.) operator
# Create vector with elements from 5 to 9 incrementing by 0.4.
v <<- seq(5, 9, by = 0.4)
print(v)

 [1] 5.0 5.4 5.8 6.2 6.6 7.0 7.4 7.8 8.2 8.6 9.0

In [30]:
# Using the c() function
# c is shorthand for combine

# The non-character values are coerced to character type if
# one of the elements is a character.

s <- c('apple','red',5,TRUE)
print(s)
typeof(s)

[1] "apple" "red"   "5"     "TRUE"

[1] "character"

> Vector stores same data type, if you try to convert different data types, in to most generic. This type of conversion is called Coercion.
**coercion hierarchy: boolean < numeric < character**

In [32]:
class(c(FALSE, 3, "twelve"))
#[1] "character"
class(c(FALSE, 3))
#[1] "numeric"
class(c(FALSE))
#[1] "logical"
class(c(FALSE, 2.0, 2))
#[1] "numeric"

[1] "character"

[1] "numeric"

[1] "logical"

[1] "numeric"

### Vector Operations
#### Access vector elements
Elements of a Vector are accessed using indexing. The [ ] brackets are used for indexing. Indexing starts with position 1. Giving a negative value in the index drops that element from result.TRUE, FALSE or 0 and 1 can also be used for indexing.

In [45]:
my_vector <- c(3, 8, 9, 10)
# Accessing 3rd element of my_vector
my_vector[3]

[1] 9

In [44]:
# Accessing last 3 elements of my_vector; using sequences, sequence is 
# Inclusive of both values.
my_vector[2:4]
# index begins from 1 in R than 0.

[1]  8  9 10

In [46]:
# Stripping
# Stripping means just not printing some elements. Original Vector remains the same
my_vector[-3]
#[1]  3  8 10
#Returns all elements other than 3rd elements

[1]  3  8 10

In [48]:
# strip multiple elements
# Accessing vector elements using negative indexing.
x <- t[c(-2,-5)]
print(x)

[1] "Sun" "Tue" "Wed" "Fri" "Sat"

In [49]:
# Accessing vector elements using position.
t <- c("Sun","Mon","Tue","Wed","Thurs","Fri","Sat")
u <- t[c(2,3,6)]
print(u)

[1] "Mon" "Tue" "Fri"

In [51]:
# Accessing vector elements using logical indexing.
v <- t[c(TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE)]
print(v)

# Accessing vector elements using 0/1 indexing.
y <- t[c(0,0,0,0,0,0,1)]
print(y)

[1] "Sun" "Fri"
[1] "Sun"

#### Vector Manipulation
##### Vector arithmetic
Two vectors of same length can be
- added,
- subtracted,
- multiplied,
- divided
<br/>giving the result as a vector output.

In [55]:
# add two vector [same length]
my_vector1 <- c(1,3,5,7)
my_vector2 <- c(2,4,6,8)
added_vector <- my_vector1 + my_vector2
added_vector

add.v <- my_vector1 + my_vector2
print(add.v)

[1]  3  7 11 15

[1]  3  7 11 15

In [54]:
# add more than 2 vector [same length]
v1 <- c(1,3,5,7)
v2 <- c(2,4,6,8)
v3 <- c(5,9,6,2)
added_vector <- v1 + v2 + v3
added_vector

[1]  8 16 17 17

##### Arithmetic on different/unequal length vectors
>When you add/sub/multiply/divide 2 vectors of different length, R gets the equal length vector by repeating the same elements of vector and returns the output.
This is termed as **Vector Element Recycling**

In [70]:
v1 <- c(3,8,4,5,0,11)
v2 <- c(4,11,2)
print(v1+v2)
# v2 is expanded as c(4,11,4,11,4,11)

[1]  7 19  6  9 11 13

In [71]:
v1 <- c(3,8,4,5,0,11,12)
v2 <- c(4,11,2)
print(v1+v2)
# v2 is expanded as c(4,11,4,11,4,11)

Warning message in v1 + v2:
“longer object length is not a multiple of shorter object length”

[1]  7 19  6  9 11 13 16

In [59]:
v1 <- c(3,8,4,5,0,11)
v2 <- c(4,11,0,8,1,2)

# Vector subtraction.
sub.result <- v1-v2
print(sub.result)

# Vector multiplication.
multi.result <- v1*v2
print(multi.result)

# Vector division.
divi.result <- v1/v2
print(divi.result)

[1] -1 -3  4 -3 -1  9
[1] 12 88  0 40  0 22
[1] 0.7500000 0.7272727       Inf 0.6250000 0.0000000 5.5000000

In [60]:
#Applying functions on Vectors
my_vector1 <- c(1,3,5,7)
min(my_vector1)
sort(my_vector1)

[1] 1

[1] 1 3 5 7

##### Vector Element Sorting
use **sort()** function

In [61]:
v <- c(3,8,4,5,0,11, -9, 304)

# Sort the elements of the vector.
sort.result <- sort(v)
print(sort.result)

[1]  -9   0   3   4   5   8  11 304

In [62]:
# Sort the elements in the reverse order.
revsort.result <- sort(v, decreasing = TRUE)
print(revsort.result)

[1] 304  11   8   5   4   3   0  -9

In [64]:
# Sorting character vectors. (Natural Order Sort)
v <- c("Red","Blue","yellow","violet")
sort.result <- sort(v)
print(sort.result)

[1] "Blue"   "Red"    "violet" "yellow"

In [65]:
# Sorting character vectors in reverse order.
revsort.result <- sort(v, decreasing = TRUE)
print(revsort.result)

[1] "yellow" "violet" "Red"    "Blue"

**Assignment**

Create vectors a = c(2 ,6, 3) and b = c(4, 3, 5, 7) on R console.
What is the result of multiplication of a and b?

In [66]:
a = c(2 ,6, 3)
b = c(4, 3, 5, 7)
a*b

Warning message in a * b:
“longer object length is not a multiple of shorter object length”

[1]  8 18 15 14

**Learning:** <br/>
- You can note that vector multiplication also occurs element-by-element like vector addition. R expects you to operate in vectors of similar lengths, but if you don’t, it uses the first element of vector a and multiplies it with the last remaining element (7 of vector b here). But as this is not proper recycling, R also issues a warning for this and not an error, so you may choose to ignore the warning and look at the output.

- You can always add/subtract/multiply/divide two vectors of unequal length, in which recycling is done to perform the particular operation. If the length of larger vector is an integral multiple of the length of shorter vector, this is an example of complete recycling. If the length of the vector is not integral multiple, the operation still gets performed and command gets executed, but R shows a warning - "longer object length is not a multiple of shorter object length". But this should be fine, it's a warning, not an error. This is called **partial recycling**.

## Swirl
it is an interactive learning library designed to learn R.
Swirl does not work on jupyter, use Rstudio.

In [73]:
library(swirl)

| Hi! I see that you have some variables saved in your workspace. To keep
| things running smoothly, I recommend you clean up before starting swirl.

| Type ls() to see a list of the variables in your workspace. Then, type
| rm(list=ls()) to clear your workspace.

| Type swirl() when you are ready to begin.

In [81]:
swirl()

| When you are at the R prompt (>): <br>
| -- Typing skip() allows you to skip the current question.<br>
| -- Typing play() lets you experiment with R on your own; swirl will ignore what you <br>
| do...<br>
| -- UNTIL you type nxt() which will regain swirl's attention.<br>
| -- Typing bye() causes swirl to exit. Your progress will be saved.<br>
| -- Typing main() returns you to swirl's main menu.<br>
| -- Typing info() displays these options again.<br>

## Factors
- The factor is a data type in R **used to categorise values** into discrete categories.
- Factors are the data objects which are used to categorize the data and store it as levels.
- Factors are the data objects which are used to categorize the data and store it as levels.
- Factors are created using the **factor()** function by taking a vector as input.

- For example, say a numeric vector to store the values of a **dice roll** is created:

### Create Factor
- to create factor for any data, use **factor()** function.
- to check, if a object is a factor, use **is.factor()** function.

In [142]:
dice  <-  c(1, 2, 4, 5, 5, 3, 2, 6, 3, 5, 6, 2, 1, 4, 3, 6, 5, 3, 2, 2, 5) 
print(is.factor(dice))

[1] FALSE

Since there are only 6 possible values, one can convert the vector into 6-factor levels using a built-in function factor.

In [143]:
dice_levels <-  factor(dice)
dice_levels
print(is.factor(dice_levels))

 [1] 1 2 4 5 5 3 2 6 3 5 6 2 1 4 3 6 5 3 2 2 5
Levels: 1 2 3 4 5 6

[1] TRUE

Usaually, there is confusion between character(string) and factor. Lets checkout:

In [144]:
hieghts <- c("medium", "short", "short", "tall", "medium", "medium")
hieghts
hieghts[1] <- "Ultra-short"
hieghts

[1] "medium" "short"  "short"  "tall"   "medium" "medium"

[1] "Ultra-short" "short"       "short"       "tall"        "medium"
[6] "medium"

So its values in vector of string is changable

In [145]:
#Converting vector into factors
hieghts <- c("medium", "short", "short", "tall", "medium", "medium")
factor_hieghts <- factor(hieghts)
factor_hieghts
levels(factor_hieghts)
summary(factor_hieghts)

# try to change factor
factor_hieghts[1] <- "Ultra-short"     #This will not work
factor_hieghts
summary(factor_hieghts)

[1] medium short  short  tall   medium medium
Levels: medium short tall

[1] "medium" "short"  "tall"

medium  short   tall
     3      2      1

Warning message in `[<-.factor`(`*tmp*`, 1, value = "Ultra-short"):
“invalid factor level, NA generated”

[1] <NA>   short  short  tall   medium medium
Levels: medium short tall

medium  short   tall   NA's
     2      2      1      1

**Learning:**<br>
Factor prevents invalid data from entering into the dataset, changing factor will not work and you will get extra invalid data category NAs for all such occurrences. that can be seen by **summary()** function but levels will not get changed.

### Change order of levels
Apply the factor function again with new order of the levels.

In [112]:
gender <- c("male","male","female","female","male","female","male")
fg <- factor(gender)
fg
summary(fgn)

# change order
fgn <- factor(fg, levels=c("male", "female")) 
fgn
summary(fgn)

[1] male   male   female female male   female male
Levels: female male

  male female
     4      3

[1] male   male   female female male   female male
Levels: male female

  male female
     4      3

### Generating Factor Levels
We can generate factor levels by using the gl() function. It takes two integers as input which indicates how many levels and how many times each level.
`gl(n, k, label_vector)`

In [116]:
?gl

gl(n, k, length = n*k, labels = seq_len(n), ordered = FALSE)
n	
an integer giving the number of levels.

k	
an integer giving the number of replications.

length	
an integer giving the length of the result.

labels	
an optional vector of labels for the resulting factor levels.

ordered	
a logical indicating whether the result should be ordered or not.

In [118]:
v <- gl(3, 4, labels = c("bangalore", "mumbai","delhi"))
print(v)
summary(v)

 [1] bangalore bangalore bangalore bangalore mumbai    mumbai    mumbai
 [8] mumbai    delhi     delhi     delhi     delhi
Levels: bangalore mumbai delhi

bangalore    mumbai     delhi
        4         4         4

## Matrix

The most basic two-dimensional data structure in R is called a matrix, with all elements in rows and columns having the same data-type. It’s time to learn about matrices.

### Create Matrix
- To create matrix, you have to call **matrix()** func.

In [189]:
?matrix
# Create matrix by sequence:
matrix(1:9, byrow = TRUE, nrow = 3)
matrix(1:9, byrow = TRUE, nrow = 3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [99]:
# Create matrix by combining vectors
karan_dice <- c(3,1,5,7,6,1)
raj_dice <- c(6,1,3,4,6,1)
ajay_dice <- c(2,1,4,2,2,5)
dice_vector <- c(karan_dice, raj_dice, ajay_dice)
dice_matrix <- matrix(dice_vector, nrow = 3, byrow = TRUE)
dice_matrix

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 3    1    5    7    6    1
[2,] 6    1    3    4    6    1
[3,] 2    1    4    2    2    5

## DataFrame
- Data Frames can have different data types along different columns, while in a matrix, all the columns have the same data type. You can assume dataframe as all the rows and coloumn in excel. 
- A data frame is a table or a two-dimensional array-like structure in which each column contains values of one variable and each row contains one set of values from each column.

- Following are the characteristics of a data frame.
    - column names should be non-empty.
    - row names should be unique.
    - data stored can be numeric, factor or character type.
    - column should contain same number of data items.

### Create Dataframe

In [138]:
# Create the vectors for data frame.
?data.frame

height <- c(132,151,162,139,166,147,122)
weight <- c(48,49,66,53,67,52,40)
gender <- c("male","male","female","female","male","female","male")

# Create the data frame.
df <- data.frame(height,weight,gender)
print(df)

  height weight gender
1    132     48   male
2    151     49   male
3    162     66 female
4    139     53 female
5    166     67   male
6    147     52 female
7    122     40   male

### Structure of Dataframe/Object
- The structure of the data frame can be seen by using str() function.
- to know structure of any object use **str()** function.
- it is most commonly used to know how the df or object is organized.

In [139]:
?str
str(df)

'data.frame':	7 obs. of  3 variables:
 $ height: num  132 151 162 139 166 147 122
 $ weight: num  48 49 66 53 67 52 40
 $ gender: chr  "male" "male" "female" "female" ...

### Summary of Dataframe/Object
- to see statistical summary and nature of the data/object, use **summary()** function.

In [141]:
?summary
summary(df)

     height          weight         gender
 Min.   :122.0   Min.   :40.00   Length:7
 1st Qu.:135.5   1st Qu.:48.50   Class :character
 Median :147.0   Median :52.00   Mode  :character
 Mean   :145.6   Mean   :53.57
 3rd Qu.:156.5   3rd Qu.:59.50
 Max.   :166.0   Max.   :67.00

In [103]:
# Test if the gender column is a factor.
print(is.factor(df$gender))

# Print the gender column so see the levels.
print(df$gender)

[1] FALSE
[1] "male"   "male"   "female" "female" "male"   "female" "male"

**Note**<br>
By default strings in vector is treated as characters not factor, if you want it to be treated as factor because you do not want to modify during df processing, set extra optional parameter `stringsAsFactors` to `True` or `T`or`TRUE`.

In [137]:
factored_df <- data.frame(height,weight,gender, stringsAsFactors="T")
print(factored_df)

# observe factors in df
str(factored_df)
factored_df$gender

  height weight gender
1    132     48   male
2    151     49   male
3    162     66 female
4    139     53 female
5    166     67   male
6    147     52 female
7    122     40   male
'data.frame':	7 obs. of  3 variables:
 $ height: num  132 151 162 139 166 147 122
 $ weight: num  48 49 66 53 67 52 40
 $ gender: Factor w/ 2 levels "female","male": 2 2 1 1 2 1 2

[1] male   male   female female male   female male
Levels: female male

### Access data from Dataframe
- to extract specific data/column from dataframe,use column name.

In [152]:
# access column
df$height
# access specific data element. A column is either a vector, factor or another df etc.
df$height[2]

[1] 132 151 162 139 166 147 122

[1] 151

In [155]:
# access 3rd & 4th rows, mind the comma after the range
df[3:4,]

  height weight gender
3 162    66     female
4 139    53     female

In [161]:
# extract specific column & rows
# Extract 2nd and 5th row with 1nd and 3th column
df[c(2,5),c(1,2)]

  height weight
2 151    49
5 166    67

### Expand Data Frame
A data frame can be expanded by adding columns and rows.
#### Add Column
you can add column vector using new column name.

In [180]:
df$age <- c(floor(runif(1)*100), floor(runif(1)*100), floor(runif(1)*100), floor(runif(1)*100), floor(runif(1)*100), floor(runif(1)*100), floor(runif(1)*100))
df

  height weight gender age
1 132    48     male   11
2 151    49     male   41
3 162    66     female 49
4 139    53     female 27
5 166    67     male   73
6 147    52     female  2
7 122    40     male   72

#### Add Row
to add row, create a dataframe with same structure and bind it using **rbind()** function

In [188]:
str(df)
df.new <- data.frame(
    height = c(154),
    weight = c(34),
    gender = c("female"),
    age = c(33)
)
df.new
df.combined <- rbind(df, df.new);
df.combined

'data.frame':	7 obs. of  4 variables:
 $ height: num  132 151 162 139 166 147 122
 $ weight: num  48 49 66 53 67 52 40
 $ gender: chr  "male" "male" "female" "female" ...
 $ age   : num  11 41 49 27 73 2 72

  height weight gender age
1 154    34     female 33

  height weight gender age
1 132    48     male   11
2 151    49     male   41
3 162    66     female 49
4 139    53     female 27
5 166    67     male   73
6 147    52     female  2
7 122    40     male   72
8 154    34     female 33

In [173]:
?iris

In [ ]:
r got lota of builtin datasets

In [ ]:
str() - structure

In [ ]:
stringsAsFactors=False

In [120]:
default.stringsAsFactors()

[1] FALSE